html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: auto;
    max-height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    position: relative;
    color: white;
    text-align: center;
    height: calc(100vh - 80px); /* Full height minus header */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 4em; /* Larger font size */
    font-weight: bold; /* Bold font */
    margin: 0;
    position: absolute;
    z-index: 2;
}

.cta-button-container {
    display: flex;
    justify-content: center; /* Center align buttons */
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.cta-button {
    background-color: #ffc107;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px; /* Rounded corners */
}

.cta-button:hover {
    background-color: #e0a800; /* Slightly darker on hover */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden; /* To hide overflowed parts */
    height: 100%; /* Full height */
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%; /* Full height */
}

img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1
